@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rock+Salt&display=swap');
/*  font-family: 'Nunito', sans-serif;
font-family: 'Rock Salt', cursive;  */
:root{
    --pink: #DF8480;
    --black: #242424;
}
/* Rendering/Normalize */
*{
    margin:0;
    padding:0;
}
/* Global Styling */
body{
    font-family: 'Nunito', sans-serif;
}
/* +++++++++++++++++++++++++++++++++ */
section,header,footer{
    text-align:center;
}
/* ++++++++++++++++++++++++++++++++++ */
h3{
    color:white;
    font-size:16px;
    background-color:var(--pink);
    font-weight:900;
    padding:30px 0;
}
/* ++++++++++++++++++++++++++++++ */
h2{
    font-size:48px;
    font-weight:900;
    padding:30px 0;
    color:var(--pink);
}
p{
    font-size:16px;
    font-weight:bold;
}
i{
    color:var(--pink);
    font-size:42px;
}
/* End of the Global Styling */
/* Header Styling */
header{
    padding:0;
    height:100vh;
    background:url('../img/dog1.jpg')no-repeat;
    background-size: cover;
}
header h1{
    font-size:16px;
    font-family:'Rock Salt', cursive;
}
header h6{
    text-align:right;
    font-size:16px;
    color:var(--pink);
    margin-top:10vh;
    margin-right:3vw;
}
/* End Of Header Styling*/
/* Section work Styling */
.work  {
    padding-bottom:5vh;
}
/* work Styling End */
/* Styling Section menu */
.menu{
    padding-bottom:7vh;
}
.dog{
    height:28vh;
    background:url('../img/dog2.jpg')no-repeat;
    background-size:cover;
    background-position:center;
}
article{
    padding:2vh 18vw;
    margin-bottom:12vh;
    height:40vh;
    background:url('../img/03.png')no-repeat;
    background-size:contain;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
article h4:nth-child(1){
    align-self:flex-start;
}
article h4:nth-child(2){
    align-self:flex-end;
}
article h4:nth-child(3){
    align-self:flex-start;
}
/* End of Styling menu */
/* Styling section sign */
.sign{
    background:var(--black);
    color:white;
    padding:2vh 4vh;
}
.sign h5{
    margin-bottom:3vh;
}
.sign form div{
    display:flex;
    flex-direction:column;
    align-items: center;
}
input{
    width:90vw;
    text-align:center;
    padding:5px;
    margin-bottom:3vh;
    height:8vh;
    border-radius:30px;
    font-family: 'Nunito', sans-serif;
}
input[type="button"]{
    background:var(--pink);
    color:white;
}
/* End of Styling sign */
/* Footer Styling */
footer{
    background:var(--black);
    padding-bottom:2vh;  
}
footer div{
    padding:7vh 2vw;
    display:flex;
    justify-content:space-around;
}
footer p{
    color:white;
}
/* END STYLING */

/* Media Queries */
/* Medium Devices */
@media only screen and (min-width:601px) and (max-width:900px){
    p ,h3{
        font-size:24px;
    }
    header h1,header h6{
        font-size:24px;
    }
    .work div{
        text-align:left;
        display:flex;
        align-items:center;
        padding:5vh 10vh;
    }
    .work div h2{
    margin-right:10vh;
    }

  input{
    width:60vw;
  }
  .contain{
      display:flex;
  }
  .dog{
      width:50vw;
      height:45vh;
  }
  article{
      width:50vw;
      padding:2vh 5vw;
  }
  footer{
      padding-top:7vh;
      display:flex;
      justify-content: space-between;
      align-items:flex-end;
  }
  footer div{
      width:40vw;
      padding:0;
  }
  footer p{
      margin-right:2vw;
  }
}
/* End of Medium Device Styling*/
/* Large Device Styling */
@media only screen and (min-width:901px) and (max-width:1200px){
   header{
       background-size:contain;
       background-position-x:55vw;
   }
    header nav{
        margin:0;
        background-color:white;
        padding:3vh 0;
    }
    header nav h1 {
        font-size:24px;
    }
    header h6{
        color:white;
        text-align: right;
        padding-left:23.75vw;
        padding-right:3vw;
        padding-top:12px;
        width:29.25vw;
        height:90vh;
        background:var(--pink);
        margin:0;
        font-size:36px;
    }
    h3{
        background:white;
        color:var(--pink);
        font-size:48px;
    }
    span{
        display:flex;
        justify-content:space-evenly;
        padding:0 6vw;
    }
    .work div {
        display:inline-block;
        flex-direction: column;
        width:23vw;
        height:25vh;
        justify-content:space-between;
        border:1px groove white;
        border-radius:10px;
        box-shadow:5px 5px 5px rgb(233, 232, 232);
    }
    .menu-2{
        margin-top:5vh;
        padding:0 2vw ;
        justify-content:space-between;
    }
    .contain{
        display:flex;
        justify-content:space-between;
        width:60vw;
    }
    .menu article{
        width:30vw;
        margin:0;
        padding:0;
    }
    .dog{
        width:20vw;
        height:35vh;
        margin:0;
        padding:0;
    }
    .menu p{
        width:14vw;
        height:20vh;
        padding:60px 30px;
        background:var(--pink);
        border-radius:10px;
        color:white;
    }
    h5{
        font-size:24px;
        padding:20px;
    }
    .sign form div {
        margin-top:8vh;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;

    }
    input[type="email"]{
        width:50vw;
    }
    input[type="button"]{
        width:20vw;
    }
    footer{
       display:flex;
       justify-content:space-between;
       align-items:flex-end;
       padding-right:20px;
    }
    footer div{
        width:20vw;
        padding-bottom:0;
        display:flex;
        justify-content:space-around;
    }

}
/* End of Medium Devices  */
@media only screen and (min-width:1201px){
    header{
        background-size:contain;
        background-position-x:57vw;
    }
     header nav{
         margin:0;
         background-color:white;
         padding:3vh 0;
     }
     header nav h1 {
         font-size:24px;
     }
     header h6{
         color:white;
         text-align: right;
         padding-left:23.75vw;
         padding-right:3vw;
         padding-top:12px;
         width:18.25vw;
         height:90vh;
         background:var(--pink);
         margin:0;
         margin-left:12vw;
         font-size:36px;
     }
     h3{
         background:white;
         color:var(--pink);
         font-size:48px;
     }
     span{
         display:flex;
         justify-content:space-evenly;
         padding:0 6vw;
     }
     .work div {
         display:inline-block;
         flex-direction: column;
         width:23vw;
         height:25vh;
         justify-content:space-between;
         border:1px groove white;
         border-radius:10px;
         box-shadow:5px 5px 5px rgb(233, 232, 232);
     }
     .menu-2{
         margin-top:5vh;
         margin:5vh 8vw;
         padding:0 2vw ;
         justify-content:space-between;
     }
     .contain{
         display:flex;
         justify-content:space-between;
         width:60vw;
     }
     .menu article{
         width:30vw;
         margin:0;
         margin-right:5vw;
         padding:0;
     }
     .dog{
         width:20vw;
         height:35vh;
         margin:0;
         padding:0;
     }
     .menu p{
         width:14vw;
         height:20vh;
         padding:60px 30px;
         background:var(--pink);
         border-radius:10px;
         color:white;
     }
     .sign{
         margin:auto 8vw;
     }
     h5{
         font-size:24px;
         padding:20px;
     }
     .sign form div {
         margin-top:8vh;
         display:flex;
         flex-direction:row;
         justify-content:space-evenly;
 
     }
     input[type="email"]{
         width:50vw;
     }
     input[type="button"]{
         width:20vw;
     }
     footer{
        display:flex;
        justify-content:space-between;
        align-items:flex-end;
        padding-right:20px;
        margin:0 8vw;
     }
     footer div{
         width:20vw;
         padding-bottom:0;
         display:flex;
         justify-content:space-around;
     }
    
}
/* THE END  */